body {
    text-align: center;
    }
    .ibox 
    {
    width:400px;
    height:50px;
    color:Aquamarine;
    background-color: Crimson;
     margin-left:20px;
    }
    #button1{
    color:Aquamarine;
     background-color: Crimson;
    border-color: Crimson;
    }
    #button2{
    color:Aquamarine;
     background-color: Crimson;
    border-color: Crimson;
    }
    #button3{
    color:Aquamarine;
     background-color: Crimson;
    border-color: Crimson;
    }
    #button4{
    color: Aquamarine;
     background-color: Crimson;
    border-color: Crimson;
    }
    h1{
    color:Aquamarine;
    }
    body{
    
    background-color: Crimson;
    }
    h2{
    font-size:15px;
    color:Aquamarine;
    }
    #result{
    color:Aquamarine;
    }
    h3{
    color:Aquamarine;
    }